<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>linkr_app.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
				<key>dateExpires</key>
				<string>2023/1/16</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJL3GLYBBN</string>
						<key>name</key>
						<string>Levermore Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJL3GLYBBN</string>
						<key>name</key>
						<string>Levermore Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJL3GLYBBN</string>
						<key>name</key>
						<string>Levermore Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJL3GLYBBN</string>
						<key>name</key>
						<string>Levermore Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.17</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>12.1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBAEMKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJL3GLYBBN</string>
						<key>name</key>
						<string>Levermore Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJL3GLYBBN</string>
						<key>name</key>
						<string>Levermore Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>12.1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJL3GLYBBN</string>
						<key>name</key>
						<string>Levermore Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>12.1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit_Basics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJL3GLYBBN</string>
						<key>name</key>
						<string>Levermore Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>12.1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJL3GLYBBN</string>
						<key>name</key>
						<string>Levermore Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJL3GLYBBN</string>
						<key>name</key>
						<string>Levermore Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJL3GLYBBN</string>
						<key>name</key>
						<string>Levermore Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>8.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJL3GLYBBN</string>
						<key>name</key>
						<string>Levermore Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>8.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJL3GLYBBN</string>
						<key>name</key>
						<string>Levermore Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>8.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJL3GLYBBN</string>
						<key>name</key>
						<string>Levermore Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>8.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJL3GLYBBN</string>
						<key>name</key>
						<string>Levermore Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJL3GLYBBN</string>
						<key>name</key>
						<string>Levermore Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJL3GLYBBN</string>
						<key>name</key>
						<string>Levermore Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJL3GLYBBN</string>
						<key>name</key>
						<string>Levermore Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJL3GLYBBN</string>
						<key>name</key>
						<string>Levermore Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>7.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>OrderedSet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJL3GLYBBN</string>
						<key>name</key>
						<string>Levermore Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJL3GLYBBN</string>
						<key>name</key>
						<string>Levermore Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>5.12.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJL3GLYBBN</string>
						<key>name</key>
						<string>Levermore Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TOCropViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJL3GLYBBN</string>
						<key>name</key>
						<string>Levermore Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>2.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJL3GLYBBN</string>
						<key>name</key>
						<string>Levermore Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_facebook_auth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJL3GLYBBN</string>
						<key>name</key>
						<string>Levermore Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>3.5.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_inappwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJL3GLYBBN</string>
						<key>name</key>
						<string>Levermore Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_keyboard_visibility.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJL3GLYBBN</string>
						<key>name</key>
						<string>Levermore Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>image_cropper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJL3GLYBBN</string>
						<key>name</key>
						<string>Levermore Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJL3GLYBBN</string>
						<key>name</key>
						<string>Levermore Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJL3GLYBBN</string>
						<key>name</key>
						<string>Levermore Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30908.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJL3GLYBBN</string>
						<key>name</key>
						<string>Levermore Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>receive_sharing_intent.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJL3GLYBBN</string>
						<key>name</key>
						<string>Levermore Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJL3GLYBBN</string>
						<key>name</key>
						<string>Levermore Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>sign_in_with_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJL3GLYBBN</string>
						<key>name</key>
						<string>Levermore Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJL3GLYBBN</string>
						<key>name</key>
						<string>Levermore Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>sqlite3.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJL3GLYBBN</string>
						<key>name</key>
						<string>Levermore Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>3.37.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>sqlite3_flutter_libs.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJL3GLYBBN</string>
						<key>name</key>
						<string>Levermore Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJL3GLYBBN</string>
						<key>name</key>
						<string>Levermore Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJL3GLYBBN</string>
						<key>name</key>
						<string>Levermore Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88856ECD779DE53A4E517A447201A710735BBBA0</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>SJL3GLYBBN.com.levermore.linkr.linkrReceiveSharing</string>
						<key>com.apple.developer.team-identifier</key>
						<string>SJL3GLYBBN</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.levermore.linkr</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>linkrReceiveSharing.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>ead857a6-b52e-4f72-af20-1d834478fabe</string>
						<key>dateExpires</key>
						<string>2023/1/16</string>
						<key>name</key>
						<string>linkr_share_ad_profile</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJL3GLYBBN</string>
						<key>name</key>
						<string>Levermore Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>SJL3GLYBBN.com.levermore.linkr</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>SJL3GLYBBN</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.levermore.linkr</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e7a7ad3f-fa25-4ecb-b8ee-41cf1825ddb5</string>
				<key>dateExpires</key>
				<string>2023/1/16</string>
				<key>name</key>
				<string>linkr_ad_profile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>SJL3GLYBBN</string>
				<key>name</key>
				<string>Levermore Limited</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
